<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <main class="min-h-screen flex flex-col md:flex-row">
    <!-- Seção do Formulário de Login -->
    <div class="flex flex-col justify-center items-center w-full md:w-1/2 bg-gray-100 p-8">
      <!-- Cabeçalho com Logo -->
      <header class="flex justify-center items-center w-full h-12 mb-8">
        <img src="./assets/logo.svg" alt="Logo" class="h-12">
        <span class="text-2xl font-bold text-gray-900 ml-3"><a href="#">BasketSystem</a></span>
      </header>

      <!-- Container do Formulário de Login -->
      <section class="border-none p-10 w-full max-w-md bg-white rounded-md shadow-lg mx-auto">
        <!-- Título e Subtítulo -->
        <h2 class="text-center text-3xl font-bold text-gray-900 mb-4">ENTRAR</h2>
        <p class="text-center text-sm text-gray-600 mb-8">Insira seus dados para acessar o sistema</p>

        <!-- Início do Formulário -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail:</label>
            <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="john.doe@company.com" required />
          </div>
          <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Senha:</label>
            <input type="password" formControlName="password" id="password" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="•••••••••" required />
          </div>
          <div class="flex items-center justify-between">
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox text-blue-600">
              <span class="ml-2 text-sm text-gray-600">Lembrar-me</span>
            </label>
            <a href="#" class="text-sm text-indigo-600 hover:text-indigo-500">Esqueceu a senha?</a>
          </div>
          <div class="">
            <button type="submit" class="w-full py-2 px-4 bg-red-500 text-white font-semibold rounded-md shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600">Logar</button>
          </div>
        </form>
        <p class="mt-8 text-center text-sm text-gray-600">Não tem uma conta? <a href="#" class="text-indigo-600 hover:text-indigo-500">Cadastre-se grátis!</a></p>
      </section>
    </div>

    <!-- Seção da Imagem/Logo -->
    <div class="hidden md:flex md:w-1/2 justify-center items-center bg-cover bg-center" style="background-image: url('./assets/login.png');">
      <!-- Mantenha vazio se for apenas mostrar uma imagem -->
    </div>

    <!-- Componente Footer que aparece apenas em resoluções de celular -->
    <footer class="mt-4 md:hidden">
      <app-footer></app-footer>
    </footer>
  </main>
</body>
</html>
