<app-admin-header></app-admin-header>
<div class="min-h-screen flex flex-col">
  <section class="flex-1 p-8 bg-gray-100">
    <div class="max-w-7xl mx-auto">
      <h1 class="text-3xl font-bold text-gray-700 mb-6">Admin Management</h1>

      <!-- Formulário de Times -->
      <div id="teamForm" class="mb-8 bg-white p-6 rounded-xl shadow-md transition-all">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Create or Update Team</h2>
        <form [formGroup]="teamForm" (ngSubmit)="onSubmitTeam()">
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Team Name</label>
            <input type="text" formControlName="name" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Address</label>
            <input type="text" formControlName="address" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Gym</label>
            <input type="text" formControlName="gym" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Foundation Date</label>
            <input type="date" formControlName="foundation" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Contact Email</label>
            <input type="email" formControlName="emailContact" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Contact Phone</label>
            <input type="text" formControlName="phoneContact" required class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2">Coach ID</label>
            <input type="text" formControlName="coachId" class="w-full p-3 border rounded-md focus:outline-none focus:ring focus:ring-red-200">
          </div>
          <button type="submit" class="w-full bg-red-500 text-white py-3 rounded-md font-semibold hover:bg-red-600 transition">Save Team</button>
        </form>
      </div>
    </div>
  </section>
</div>
