:host {
  display: block;
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 10;
}

main {
  position: relative;
  z-index: 20;
}

section {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 2rem;
}

button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.animate-circle {
  animation: moveCircle 10s infinite linear;
}

.animate-path {
  animation: movePath 10s infinite linear;
}

@keyframes moveCircle {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes movePath {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 100; }
}

/* Menu Box */
.menu-box {
  position: absolute;
  top: 3rem; /* Ajuste conforme necessário */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s, transform 0.3s;
}

/* Botão do Menu Hambúrguer */
.hamburger-menu-button {
  z-index: 1001; /* Deve estar acima do menu para interagir */
}
