<div class="min-h-screen flex flex-col">
  <app-header></app-header>
  <app-menu></app-menu>
  <main class="flex flex-1 p-4">
    <!-- Seção principal -->
    <div class="flex-1">
      <section class=" bg-gray-200 rounded-xl shadow-md overflow-hidden">
        <img src="assets/russel.png" alt="Russell Westbrook" class="w-full h-auto">
        <div class="p-4">
          <h2 class="text-2xl font-bold text-gray-800">Report: Russell Westbrook, Nuggets agree to 2-year deal</h2>
          <p class="text-gray-600 mt-2">Denver and veteran guard Russell Westbrook have agreed to a 2-year deal worth $6.8 million.</p>
        </div>
      </section>

      <!-- Jogos -->
      <section class="mt-8 grid grid-cols-1 lg:grid-cols-3 gap-4 rounded-xl">
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <img src="assets/warriors-vs-lakers.png" alt="team vs team" class="w-full h-auto">
        </div>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <img src="assets/warriors-vs-lakers.png" alt="team vs team" class="w-full h-auto">
        </div>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <img src="assets/warriors-vs-lakers.png" alt="team vs team" class="w-full h-auto">
        </div>
      </section>
    </div>

    <!-- Menu lateral -->
      <app-menu-lateral></app-menu-lateral>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
