<!-- menu-horizontal.component.html -->
<div class="lg:hidden top-16 inset-x-0 bg-gray-200 shadow-md z-50">
  <nav class="flex justify-around p-2 bg-slate-100 ">
    <a href="#" class="p-2 hover:bg-red-100 flex items-center rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a2 2 0 012-2h14a2 2 0 012 2v16a2 2 0 01-2 2H5a2 2 0 01-2-2V4z" />
      </svg>
      <span class="text-black">Início</span>
    </a>
    <a href="#" class="p-2 hover:bg-red-100 flex items-center rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
      </svg>
      <span class="text-black">Players</span>
    </a>
    <a href="#" class="p-2 hover:bg-red-100 flex items-center rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l4-4 4 4M8 8l4-4 4 4" />
      </svg>
      <span class="text-black">Teams</span>
    </a>
    <a href="#" class="p-2 hover:bg-red-100 flex items-center rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <span class="text-black">Trainings</span>
    </a>
  </nav>
</div>
