/* menu-horizontal.component.scss */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.icon {
  fill: #EA454C; // Definindo a cor do ícone
}
