<div class="min-h-screen flex flex-col relative overflow-hidden bg-gray-900">
  <!-- Fundo Animado -->
  <div class="absolute inset-0 z-0">
    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 7 200 100" id="court-svg">
      <!-- Linha da quadra -->
      <path class="court-path" d="M10 10 L190 10 L190 90 L10 90 Z" stroke="#F5F5F5" stroke-width="2" fill="none" />
      <path class="court-path" d="M100 10 L100 90" stroke="#F5F5F5" stroke-width="2" fill="none" />
      <circle class="court-path" cx="100" cy="50" r="20" stroke="#F5F5F5" stroke-width="2" fill="none" />
      <circle class="court-path" cx="100" cy="50" r="5" stroke="#F5F5F5" stroke-width="2" fill="none" />
    </svg>
  </div>

  <!-- Conteúdo da Página -->
  <header class="flex justify-between items-center p-4 bg-white shadow-md z-50">
    <div class="flex items-center">
      <img src="assets/logo.svg" alt="TDStats Logo" class="h-10 w-10 mr-3">
      <span class="text-xl font-bold text-red-500">
        <a [routerLink]="'/home'">Basket System</a>
      </span>
    </div>
    <div class="hidden lg:flex space-x-4">
      <button [routerLink]="'/auth/login'"
        class="bg-white text-red-500 font-semibold py-2 px-4 border border-red-500 rounded hover:bg-red-500 hover:text-white transition">
        Entrar
      </button>
      <button [routerLink]="'/auth/register'"
        class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition">
        Registrar
      </button>
    </div>
    <div class="relative lg:hidden flex items-center">
      <!-- Menu Hambúrguer e Botões -->
      <div class="flex items-center space-x-4">
        <button *ngIf="!isMenuOpen" (click)="toggleMenu()"
          class="text-red-500 focus:outline-none focus:ring-2 focus:ring-red-500 transition-transform transform hover:scale-110 hamburger-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
        <button *ngIf="isMenuOpen" (click)="toggleMenu()"
          class="text-red-500 focus:outline-none focus:ring-2 focus:ring-red-500 transition-transform transform hover:scale-110 hamburger-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <div #menuBox
          class="menu-box flex flex-col space-y-2">
          <button [routerLink]="'/auth/login'"
            class="text-red-500 font-semibold py-2 px-4 border border-red-500 rounded hover:bg-red-500 hover:text-white transition">
            Entrar
          </button>
          <button [routerLink]="'/auth/register'"
            class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition">
            Registrar
          </button>
        </div>
      </div>
    </div>
  </header>


  <main class="flex flex-col items-center justify-center flex-1 py-12 lg:py-24 z-20 relative">
    <div class="relative w-full max-w-5xl mx-auto text-center mb-12">
      <h1 class=" text-4xl lg:text-5xl font-bold text-white mb-4">Gerencie Seu <span class="bg-slate-700 bg-opacity-35 rounded-full text-white font-bold">Time</span> de Basquete</h1>
      <p class="text-lg lg:text-xl text-gray-300 mb-6">A melhor plataforma para administrar jogadores, equipes e treinos.</p>
      <button [routerLink]="'/about'"
        class="bg-red-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-red-600 transition">
        Saiba Mais
      </button>
    </div>

    <section class="w-full max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8" id="cards-section">
      <!-- Card 1 -->
      <div
        class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800 card">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 0c-4.418 0-8 3.582-8 8v2h16v-2c0-4.418-3.582-8-8-8z" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">Gerenciador de Jogadores</h2>
        <p class="text-gray-300">Controle o desenvolvimento dos jogadores e gerencie suas presenças em treinos.</p>
      </div>

      <!-- Card 2 -->
      <div
        class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800 card">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 21h5a1 1 0 001-1v-6a1 1 0 00-1-1h-5m-5 0H6a1 1 0 00-1 1v6a1 1 0 001 1h6m6-12V5a1 1 0 00-1-1h-5a1 1 0 00-1 1v4m4 0v6" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">Gerenciador de Equipes</h2>
        <p class="text-gray-300">Coordene as operações das equipes e datas dos treinos.</p>
      </div>

      <!-- Card 3 -->
      <div
        class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800 card">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h1m2 0h-1v4h1m-1-2v-1h1v1h-1zm0-3v1h-1v-1h1zM8 8h8v12H8V8zm0-2c0-.553.447-1 1-1h8c.553 0 1 .447 1 1v1H7V6z" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">Gerenciador de Treinos</h2>
        <p class="text-gray-300">Organize os treinos, planeje as atividades e acompanhe o desempenho dos jogadores.</p>
      </div>
    </section>
  </main>
  <footer class="z-50">
    <app-footer></app-footer>
  </footer>
</div>
