<div class="min-h-screen flex flex-col">
  <header class="flex justify-between items-center p-4 bg-white shadow-md">
    <div class="flex items-center">
      <img src="assets/logo.svg" alt="TDStats Logo" class="h-10 m-2 w-10">
      <span class="text-xl font-bold text-red-500">Basket System</span>
    </div>
    <div class="flex space-x-4">
      <button class="bg-white text-red-500 font-semibold py-2 px-4 border border-red-500 rounded hover:bg-red-500 hover:text-white transition">Entrar</button>
      <button class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition">Registrar</button>
    </div>
  </header>

  <section class="relative flex flex-col items-center justify-center flex-1 bg-gray-100 py-16">
    <div class="w-full max-w-screen-lg flex justify-center space-x-4">
      <div class="relative bg-white rounded shadow-lg overflow-hidden">
        <img src="./assets/Mask group1.png" alt="Image 1" class="w-full">
      </div>
      <div class="relative bg-white rounded shadow-lg overflow-hidden">
        <img src="./assets/Mask group2.png" alt="Image 2" class="w-full">
      </div>
      <div class="relative bg-white rounded shadow-lg overflow-hidden">
        <img src="./assets/Mask group3.png" alt="Image 3" class="w-full">
      </div>
    </div>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center bg-white bg-opacity-40 p-6 rounded-3xl">
      <h1 class="text-4xl font-bold text-gray-800">My life is Basketball</h1>
      <p class="text-gray-600 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="mt-6 bg-pink-500 text-white font-semibold py-2 px-6 rounded hover:bg-pink-600 transition">Saber mais</button>
    </div>
  </section>



  <app-footer></app-footer>
</div>
