<!-- Menu Lateral para Desktop -->
<div id="sidebar" class="hidden ml-4 lg:flex flex-col rounded-3xl left-0 top-0 w-64 h-full bg-gray-900 bg-opacity-75 text-white shadow-md transform transition-transform duration-300 ease-in-out">
  <div class="flex flex-col items-center mt-8">
    <!-- Logo e Título -->
    <div class="mb-6">
      <img src="assets/logo.svg" alt="Logo" class="h-12 w-12 mx-auto">
      <h1 class="text-lg font-bold mt-2">Basket System</h1>
    </div>

    <!-- Itens do Menu -->
    <nav class="flex flex-col space-y-4">
      <!-- Inicio -->
      <a routerLink="/dashboard" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 3l9.5 9.5-1.4 1.4L19 11.8V20H5v-8.2L3.9 13.9 2.5 12.5 12 3z"/>
        </svg>
        Início
      </a>

      <!-- Jogadores (Visível para COACH e ADMIN) -->
      <a *ngIf="role !== 'PLAYER'" routerLink="/players" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4zm0 2c-3.31 0-10 1.66-10 5v3h20v-3c0-3.34-6.69-5-10-5z"/>
        </svg>
        Jogadores
      </a>

      <!-- Treinadores (Visível para PLAYER e ADMIN) -->
      <a *ngIf="role !== 'COACH'" routerLink="/coaches" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4zm0 2c-3.31 0-10 1.66-10 5v3h20v-3c0-3.34-6.69-5-10-5z"/>
        </svg>
        Treinadores
      </a>

      <!-- Treinamentos -->
      <a routerLink="/trainings" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 3h-1V2h-2v1H8V2H6v1H5a2 2 0 00-2 2v17a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2zm0 18H5V8h14zm-9-9h4v2h-4zm0 4h4v2h-4z"/>
        </svg>
        Treinamentos
      </a>

      <!-- Times -->
      <a routerLink="/teams" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 2C8.13 2 5 5.13 5 9c0 1.89.66 3.63 1.76 5.02L7.5 18h9l.74-3.98A7.963 7.963 0 0019 9c0-3.87-3.13-7-7-7zm-3.5 10.5c.42 0 .78.34.78.75s-.36.75-.78.75-.75-.34-.75-.75.34-.75.75-.75zm7.06 1.5h-5.12l-.62 3.25H8.44l.87-4.5h5.25l.87 4.5h-1.83l-.62-3.25zM9.78 11.75c-.42 0-.78-.34-.78-.75s.36-.75.78-.75.75.34.75.75-.34.75-.75.75z"/>
        </svg>
        Times
      </a>

      <!-- Configurações (Visível para ADMIN) -->
      <a *ngIf="role === 'ADMIN'" routerLink="/admin" class="flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19.4 13c.1-.7.1-1.3 0-2l2.1-1.7c.2-.1.2-.3.1-.5l-2-3.5c-.1-.1-.3-.2-.5-.1l-2.5 1c-.5-.4-1-.8-1.5-1l-.4-2.7c0-.2-.2-.4-.4-.4h-4c-.2 0-.4.2-.4.4l-.3 2.7c-.5.2-1 .6-1.5 1l-2.5-1c-.2-.1-.4 0-.5.1l-2 3.5c-.1.2 0 .4.1.5l2.1 1.7c-.1.7-.1 1.3 0 2l-2.1 1.7c-.2.1-.2.3-.1.5l2 3.5c.1.1.3.2.5.1l2.5-1c.5.4 1 .8 1.5 1l.4 2.7c0 .2.2.4.4.4h4c.2 0 .4-.2.4-.4l.3-2.7c.5-.2 1-.6 1.5-1l2.5 1c.2.1.4 0 .5-.1l2-3.5c.1-.2 0-.4-.1-.5L19.4 13zm-7.4 3c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z"/>
        </svg>
        Configurações
      </a>

      <!-- Sair -->
      <button (click)="logout()" class="ml-4 flex items-center text-orange-500 hover:text-white transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12h-6m3-3l3 3-3 3m9-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Sair
      </button>
    </nav>
  </div>
</div>
