<div class="min-h-screen flex flex-col relative overflow-hidden bg-gray-900">
  <!-- Fundo Animado -->
  <div class="absolute inset-0 z-0" id="animated-background">
    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
      <!-- Desenho geométrico para fundo -->
      <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" style="stop-color:rgba(255, 99, 71, 0.2);stop-opacity:1" />
          <stop offset="100%" style="stop-color:rgba(255, 99, 71, 0);stop-opacity:1" />
        </linearGradient>
      </defs>
      <g fill="none" stroke="url(#grad1)" stroke-width="2" id="background-shapes">
        <circle cx="50" cy="50" r="40" />
        <circle cx="150" cy="50" r="40" />
        <circle cx="50" cy="150" r="40" />
        <circle cx="150" cy="150" r="40" />
        <path d="M10,100 L190,100" />
        <path d="M100,10 L100,190" />
      </g>
    </svg>
  </div>


  <!-- Conteúdo da Página -->
  <header class="flex justify-between items-center p-4 bg-white shadow-md z-50">
    <div class="flex items-center">
      <img src="assets/logo.svg" alt="TDStats Logo" class="h-10 w-10 mr-3">
      <span class="text-xl font-bold text-red-500">
        <a [routerLink]="'/home'">Basket System</a>
      </span>
    </div>
    <div class="hidden lg:flex space-x-4">
      <button [routerLink]="'/auth/login'"
        class="bg-white text-red-500 font-semibold py-2 px-4 border border-red-500 rounded hover:bg-red-500 hover:text-white transition">
        Entrar
      </button>
      <button [routerLink]="'/auth/register'"
        class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition">
        Registrar
      </button>
    </div>
    <div class="relative lg:hidden flex items-center">
      <!-- Menu Hambúrguer e Botões -->
      <div class="flex items-center space-x-4">
        <button *ngIf="!isMenuOpen" (click)="toggleMenu()"
          class="text-red-500 focus:outline-none focus:ring-2 focus:ring-red-500 transition-transform transform hover:scale-110 hamburger-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
        <button *ngIf="isMenuOpen" (click)="toggleMenu()"
          class="text-red-500 focus:outline-none focus:ring-2 focus:ring-red-500 transition-transform transform hover:scale-110 hamburger-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <div #menuBox
          class="menu-box flex flex-col space-y-2">
          <button [routerLink]="'/auth/login'"
            class="text-red-500 font-semibold py-2 px-4 border border-red-500 rounded hover:bg-red-500 hover:text-white transition">
            Entrar
          </button>
          <button [routerLink]="'/auth/register'"
            class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition">
            Registrar
          </button>
        </div>
      </div>
    </div>
  </header>

  <main class="flex flex-col items-center justify-center flex-1 py-12 lg:py-24 z-20 relative">
    <div class="relative w-full max-w-5xl mx-auto text-center mb-12">
      <h1 class="text-4xl lg:text-5xl font-bold text-white mb-4">Sobre o Basket System</h1>
      <p class="text-lg lg:text-xl text-gray-300 mb-6">A melhor plataforma para gerenciar jogadores, equipes e treinos com eficiência.</p>
      <button [routerLink]="'/contact'"
        class="bg-red-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-red-600 transition">
        Entre em Contato
      </button>
    </div>

    <section class="w-full max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Card 1 -->
      <div class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 4v4l3 3" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">Nossa Missão</h2>
        <p class="text-gray-300">No Basket System, dedicamo-nos a oferecer soluções de ponta para gerenciar equipes de basquete, jogadores e treinamentos.</p>
      </div>

      <!-- Card 2 -->
      <div class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 14.22V9.78a1 1 0 00-.553-.894l-3.89-1.944a4.992 4.992 0 000-2.776l3.89-1.944A1 1 0 0020 3.22v-4.44a1 1 0 00-1.447-.894L15.11 2.341a4.992 4.992 0 00-2.776 0L8.444 1.886A1 1 0 007 2.78v4.44a1 1 0 00.553.894l3.89 1.944a4.992 4.992 0 000 2.776l-3.89 1.944a1 1 0 00-.553.894v4.44a1 1 0 001.447.894L8.89 21.659a4.992 4.992 0 002.776 0l3.668 1.457A1 1 0 0020 21.22v-4.44zM12 15a3 3 0 100-6 3 3 0 000 6z" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">O Que Oferecemos</h2>
        <p class="text-gray-300">Ferramentas abrangentes para gerenciamento de equipes, jogadores e treinamentos.</p>
      </div>

      <!-- Card 3 -->
      <div class="p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105 text-center bg-gray-800">
        <div class="flex items-center justify-center mb-4">
          <svg class="h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zM12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-white mb-2">Nossa Visão</h2>
        <p class="text-gray-300">Enxergamos um mundo onde equipes de basquete são gerenciadas de forma eficiente, permitindo que treinadores e jogadores se concentrem em seu desempenho.</p>
      </div>
    </section>
  </main>

  <footer class="z-50">
    <app-footer></app-footer>
  </footer>
</div>
