<footer class="bg-red-500 text-white text-center py-8">
  <div class="container mx-auto flex flex-col items-center">
    <!-- Logo e Nome -->
    <div class="flex items-center mb-6">
      <img src="assets/logoBranco.svg" alt="Basket System Logo" class="h-12 w-12">
      <span class="text-2xl font-bold ml-4">
        <a [routerLink]="'/home'" class="hover:underline">Basket System</a>
      </span>
    </div>

    <!-- Links de Navegação -->
    <div class="flex justify-center items-center mb-6 space-x-6">
      <a [routerLink]="'/home'" class="hover:underline">Início</a>
      <a [routerLink]="'/about'" class="hover:underline">Sobre</a>
      <a [routerLink]="'/contact'" class="hover:underline">Contato</a>
      <a [routerLink]="'/auth/login'" class="hover:underline">Entrar</a>
      <a [routerLink]="'/auth/register'" class="hover:underline">Registrar</a>
    </div>

    <!-- Direitos Autorais -->
    <p class="text-sm">&copy; 2024 Basket System. Todos os direitos reservados.</p>
  </div>
</footer>
