<footer class="bg-red-500 text-white text-center py-8">
  <div class="flex justify-center mb-4">
    <img src="assets/logoBranco.svg" alt="TDStats Logo" class="h-12 w-10">
    <span class="text-xl font-bold mt-3 m-2">Basket System</span>
  </div>
  <div class="mb-4">
    <a href="#" class="text-white hover:underline">Início</a> |
    <a href="#" class="text-white hover:underline">Entrar</a> |
    <a href="#" class="text-white hover:underline">Registrar</a>
  </div>
  <p class="text-sm">Este é um projeto desenvolvido na 7 Academia Java Atos</p>
</footer>

